python-dotenv
requests
bibtexparser==2.0.0b7
pandas
SQLAlchemy
tqdm
lancedb
numpy
pytest
sphinx-autodoc-typehints
sqlalchemy
requests
pdfminer.six
openpyxl
python-dotenv
lancedb
huggingface_hub
openai
plotly
nltk
bertopic
langchain-text-splitters